:root {
  --light-bg: #f0f4f8; 
  --light-text: #333333; 
  --light-header-bg: #4A90E2; 
  --light-btn-bg: #4A90E2; 
  --light-btn-hover-bg: #357ABD; 
  --light-link-color: #007BFF; 
  --light-secondary-text: #8A8A8A; 
  --light-card-bg: #ffffff; 
  --light-card-text: #555555; 

  --dark-bg: #121212; 
  --dark-text: #E0E0E0; 
  --dark-header-bg: #4B0082; 
  --dark-btn-bg: #5A2D82; 
  --dark-btn-hover-bg: #7A3E98; 
  --dark-link-color: #B47EFF; 
  --dark-secondary-text: #9E9E9E; 
  --dark-card-bg: #333333; 
  --dark-card-text: #dddddd; 
}

.categories {
  padding: 60px 20px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.categories h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: var(--light-header-bg);
  transition: color 0.3s ease;
}

.category-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.category-card {
  background-color: var(--light-card-bg);
  padding: 20px;
  border-radius: 8px;
  color: var(--light-card-text);
  text-align: center;
  width: 50%;
  height: 270px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s ease;
}

.category-card img {
  width: 100%;
  height: 50%;
  border-radius: 5px;
}


.category-card h3 {
  margin: 10px 0;
  font-size: 24px;
}


.category-card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--light-btn-bg);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.category-card button:hover {
  background-color: var(--light-btn-hover-bg);
}


.categories.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.categories.light h2 {
  color: var(--light-text);
}

.categories.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.categories.dark h2 {
  color: var(--dark-text);
}

.categories.dark .category-card {
  background-color: var(--dark-card-bg);
  color: var(--dark-card-text);
}

.categories.dark .category-card button {
  background-color: var(--dark-btn-bg);
  color: var(--dark-text);
}

.categories.dark .category-card button:hover {
  background-color: var(--dark-btn-hover-bg);
  color: white;
}

