:root {
  --light-bg: #f0f4f8;
  --light-text: #333333;
  --light-header-bg: #4A90E2;
  --light-btn-bg: #4A90E2;
  --light-btn-hover-bg: #357ABD;
  --light-link-color: #007BFF;
  --light-secondary-text: #8A8A8A;
  --light-card-bg: #ffffff;
  --light-card-text: #555555;

  --dark-bg: #121212;
  --dark-text: #E0E0E0;
  --dark-header-bg: #4B0082;
  --dark-btn-bg: #5A2D82;
  --dark-btn-hover-bg: #7A3E98;
  --dark-link-color: #B47EFF;
  --dark-secondary-text: #9E9E9E;
  --dark-card-bg: #333333;
  --dark-card-text: #dddddd;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../assets/background.jpg') no-repeat center center/cover;
  height: 90vh;
  color: white;
  text-align: center;
  position: relative;
  padding: 80px 20px;
  z-index: 0;
}

.box {
  max-width: 600px; 
  width: 90%;
  background-color: var(--light-card-bg);
  border-radius: 10px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 40px; 
  position: relative; 
  z-index: 1;
  transition: background-color 0.3s ease; 
}

.box.dark {
  background-color: var(--dark-card-bg); 
}

.hero-content {
  z-index: 1;
}

.hero h1 {
  font-size: 48px;
  margin: 0;
  font-weight: bold;
  color: var(--light-header-bg);
  transition: color 0.3s ease;
}

.hero p {
  font-size: 24px;
  margin: 20px 0;
  color: var(--light-text);
  transition: color 0.3s ease;
}

.cta-btn {
  background-color: var(--light-btn-bg);
  color: white;
  padding: 12px 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: var(--light-btn-hover-bg);
}

.hero.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.hero.light h1 {
  color: var(--light-header-bg);
}

.hero.light p {
  color: var(--light-secondary-text);
}


.hero.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.hero.dark h1 {
  color: var(--dark-header-bg);
}

.hero.dark p {
  color: var(--dark-secondary-text);
}

.cta-btn.dark {
  background-color: var(--dark-btn-bg);
  color: var(--dark-text);
}

.cta-btn.dark:hover {
  background-color: var(--dark-btn-hover-bg);
}


