table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
}


.border-b {
  border-bottom: 1px solid #ddd;
}


.wishlist-card {
  position: relative;
}

.wishlist-button {
  padding: 8px 12px;
  background-color: #d95e21; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.wishlist-button:hover {
  background-color: #dd682d; 
}
