
.reviews {
  padding: 60px 20px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.reviews.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.reviews.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.reviews h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: inherit;
}

.reviews-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.reviews-card {
  background-color: var(--light-card-bg); 
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
  text-align: center;
  color: var(--light-card-text); 
}

.reviews-card p {
  font-size: 18px;
  color: var(--light-card-text);
  margin-bottom: 15px;
  font-style: italic;
}

.reviews-card h4 {
  font-size: 20px;
  color: var(--light-header-bg); 
  font-weight: bold;
}

.reviews-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reviews.dark .reviews-card {
  background-color: var(--dark-card-bg); 
}

.reviews.dark .reviews-card p {
  color: var(--dark-card-text); 
}

.reviews.dark .reviews-card h4 {
  color: var(--dark-btn-bg); 
}
