.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 ;
  transition: background-color 0.5s ease;
}

body.light {
  background-color: #ffffff;
  color: #333;
}

body.dark {
  background-color: #444;
  color: #fff;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.error {
  width: 200px;
  margin: 50px auto;
  display: block;
  text-align: center;
}

.error img {
  max-width: 100%;
}
