.latest-collection {
    margin: 2rem 0;
    text-align: center;
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .productList {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 20px 0;
    scroll-behavior: smooth;
  }
    
  .latest-collection h1 {
    font-size: 24px;
    font-weight: bolder;
  
}

  .productList::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 250px;
    height: 350px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .product-price {
    color: #ff6600;
    margin: 10px 0;
  }
  
  .add-to-cart {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart:hover {
    background-color: #cc5200;
  }
  
  .arrow {
    background-color: #fff;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .arrow:hover {
    background-color: #f0f0f0;
  }
  
  .left-arrow {
    left: 5px;
  }
  
  .right-arrow {
    right: 5px;
  }
  
  .product-card.dark {
    background-color: #333;
    color: #fff;
  }
  
  .product-card.dark .product-price {
    color: #ff6600;
  }
  
  .product-card.dark .add-to-cart {
    background-color: #ff6600;
  }
  
  .product-card.dark .add-to-cart:hover {
    background-color: #cc5200;
  }
  
 
  